/job_portal/target/
/JobPortal/target/

/JobPortal/src/main/java/com/mycompany/gunyuxing/node_modules
/JobPortal/src/main/java/com/mycompany/gunyuxing/package.json
/JobPortal/src/main/java/com/mycompany/gunyuxing/package-lock.json
/JobPortal/src/main/java/com/mycompany/gunyuxing/jest.config.js
/JobPortal/src/main/java/com/mycompany/gunyuxing/jest.setup.js
/JobPortal/src/main/java/com/mycompany/YeoJunHe/node_modules
/JobPortal/src/main/java/com/mycompany/YeoJunHe/package.json
/JobPortal/src/main/java/com/mycompany/YeoJunHe/package-lock.json
/JobPortal/src/main/java/com/mycompany/YeoJunHe/jest.config.js
/JobPortal/src/main/java/com/mycompany/YeoJunHe/jest.setup.js