/job_portal/target/
/JobPortal/target/

/JobPortal/src/main/java/com/mycompany/gunyuxing/node_modules
/JobPortal/src/main/java/com/mycompany/gunyuxing/package.json
/JobPortal/src/main/java/com/mycompany/gunyuxing/package-lock.json
/JobPortal/src/main/java/com/mycompany/gunyuxing/jest.config.js
/JobPortal/src/main/java/com/mycompany/gunyuxing/jest.setup.js
/JobPortal/src/main/java/com/mycompany/YeoJunHe/node_modules
/JobPortal/src/main/java/com/mycompany/YeoJunHe/package.json
/JobPortal/src/main/java/com/mycompany/YeoJunHe/package-lock.json
/JobPortal/src/main/java/com/mycompany/YeoJunHe/jest.config.js
/JobPortal/src/main/java/com/mycompany/YeoJunHe/jest.setup.js
/JobPortal/src/main/java/com/mycompany/YeoJunHe/ui/sprint3/package-lock.json
/JobPortal/src/main/java/com/mycompany/YeoJunHe/ui/sprint3/node_modules
/JobPortal/src/main/java/com/mycompany/YeoJunHe/ui/sprint3/package.json
/JobPortal/src/main/java/com/mycompany/YeoJunHe/ui/sprint3/recommend.test.js
/JobPortal/src/main/java/com/mycompany/YeoJunHe/ui/sprint3/recommended.js

/JobPortal/src/main/java/com/mycompany/DanielTayYiFung/node_modules
/JobPortal/src/main/java/com/mycompany/DanielTayYiFung/package.json
/JobPortal/src/main/java/com/mycompany/DanielTayYiFung/package-lock.json
/JobPortal/src/main/java/com/mycompany/DanielTayYiFung/jest.config.js
/JobPortal/src/main/java/com/mycompany/DanielTayYiFung/jest.setup.js

/JobPortal/src/main/java/com/mycompany/ChewJianLe/ui/node_modules
/JobPortal/src/main/java/com/mycompany/ChewJianLe/ui/package.json
/JobPortal/src/main/java/com/mycompany/ChewJianLe/ui/package-lock.json
/JobPortal/src/main/java/com/mycompany/ChewJianLe/ui/jest.config.js


/JobPortal/src/main/java/com/mycompany/gunyuxing/register.test.js
/JobPortal/src/main/java/com/mycompany/ChewJianLe/ui/apply.test.js
/JobPortal/src/test/java/JobPostTest.java # DanielTayYiFung
